<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-05-22-things-i-think-about-taiwan.md</string>
		</array>
		<array>
			<string>2015-05-25-a-trip-to-houtong-cat-village.md</string>
		</array>
		<array>
			<string>2015-06-30-three-meals-in-taiwan.md</string>
		</array>
		<array>
			<string>2015-07-28-seeing-the-murals-of-williamsburg.md</string>
		</array>
		<array>
			<string>2015-07-31-things-i-think-about-new-york-city.md</string>
		</array>
	</array>
</dict>
</plist>
