<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>465958163</real>
		<key>sheetClusters</key>
		<dict>
			<key>2013-08-16-making-sec-research-with-rubymotion.md</key>
			<dict>
				<key>lastModification</key>
				<real>465958163</real>
				<key>version</key>
				<dict>
					<key>legacy-465958163.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-08-22-thoughts-on-app-academy.md</key>
			<dict>
				<key>lastModification</key>
				<real>465958163</real>
				<key>version</key>
				<dict>
					<key>legacy-465958163.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-08-02-achieving-data-persistence-in-rubymotion-and-xcode.md</key>
			<dict>
				<key>lastModification</key>
				<real>465958163</real>
				<key>version</key>
				<dict>
					<key>legacy-465958163.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-10-16-sifting-and-sorting-560000-emails-without-excel.md</key>
			<dict>
				<key>lastModification</key>
				<real>465958163</real>
				<key>version</key>
				<dict>
					<key>legacy-465958163.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-12-14-Building-a-FB-Ads-Dashboard-with-Rails.md</key>
			<dict>
				<key>lastModification</key>
				<real>465958163</real>
				<key>version</key>
				<dict>
					<key>legacy-465958163.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-03-31-the-anatomy-of-a-stupid-4-hour-ios-app-bug.md</key>
			<dict>
				<key>lastModification</key>
				<real>465958163</real>
				<key>version</key>
				<dict>
					<key>legacy-465958163.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-06-07-introducing-jumpshot-1-5.md</key>
			<dict>
				<key>lastModification</key>
				<real>465958163</real>
				<key>version</key>
				<dict>
					<key>legacy-465958163.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-08-16-introducing-hakkerjobs.md</key>
			<dict>
				<key>lastModification</key>
				<real>465958163</real>
				<key>version</key>
				<dict>
					<key>legacy-465958163.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-09-21-introducing-thunderfonts.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>495134399.31738299</real>
				<key>lastModification</key>
				<real>495134399.31738299</real>
				<key>version</key>
				<dict>
					<key>eca578ddf220ae4a2bbe9a11c2a272c2adf2831faf57b27d91e6a041fe967b8b</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2013-08-16-making-sec-research-with-rubymotion.md</string>
		</array>
		<array>
			<string>2013-08-22-thoughts-on-app-academy.md</string>
		</array>
		<array>
			<string>2014-08-02-achieving-data-persistence-in-rubymotion-and-xcode.md</string>
		</array>
		<array>
			<string>2014-10-16-sifting-and-sorting-560000-emails-without-excel.md</string>
		</array>
		<array>
			<string>2014-12-14-Building-a-FB-Ads-Dashboard-with-Rails.md</string>
		</array>
		<array>
			<string>2015-03-31-the-anatomy-of-a-stupid-4-hour-ios-app-bug.md</string>
		</array>
		<array>
			<string>2015-06-07-introducing-jumpshot-1-5.md</string>
		</array>
		<array>
			<string>2015-08-16-introducing-hakkerjobs.md</string>
		</array>
		<array>
			<string>2015-09-21-introducing-thunderfonts.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>eca578ddf220ae4a2bbe9a11c2a272c2adf2831faf57b27d91e6a041fe967b8b</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>eca578ddf220ae4a2bbe9a11c2a272c2adf2831faf57b27d91e6a041fe967b8b</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
