<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2013-5-13-first-day.md</string>
		</array>
		<array>
			<string>2013-5-14-tictactoe.md</string>
		</array>
		<array>
			<string>2013-5-15-recursion-blocks.md</string>
		</array>
		<array>
			<string>2013-5-16-hangman.md</string>
		</array>
		<array>
			<string>2013-5-17-DFS.md</string>
		</array>
		<array>
			<string>2013-5-19-word-chains.md</string>
		</array>
		<array>
			<string>2013-5-20-yaml.md</string>
		</array>
		<array>
			<string>2013-5-22-big-chess.md</string>
		</array>
		<array>
			<string>2013-5-23-solo-checkers.md</string>
		</array>
		<array>
			<string>2013-5-26-TDD.md</string>
		</array>
		<array>
			<string>2013-5-28-activerecord-foundations.md</string>
		</array>
		<array>
			<string>2013-5-29-activerecord.md</string>
		</array>
		<array>
			<string>2013-5-30-associations.md</string>
		</array>
		<array>
			<string>2013-5-31-metaprogramming.md</string>
		</array>
		<array>
			<string>2013-6-10-rails-lite3.md</string>
		</array>
		<array>
			<string>2013-6-11-social-thing.md</string>
		</array>
		<array>
			<string>2013-6-12-reddit-clone.md</string>
		</array>
		<array>
			<string>2013-6-13-twodoo.md</string>
		</array>
		<array>
			<string>2013-6-17-javascript.md</string>
		</array>
		<array>
			<string>2013-6-19-snakey.md</string>
		</array>
		<array>
			<string>2013-6-20-return-of-rails.md</string>
		</array>
		<array>
			<string>2013-6-21-threedo.md</string>
		</array>
		<array>
			<string>2013-6-25-picture-tagger.md</string>
		</array>
		<array>
			<string>2013-6-26-backbone-101.md</string>
		</array>
		<array>
			<string>2013-6-27-newsreader.md</string>
		</array>
		<array>
			<string>2013-6-28-discussion.md</string>
		</array>
		<array>
			<string>2013-6-3-api-introduction.md</string>
		</array>
		<array>
			<string>2013-6-4-apis.md</string>
		</array>
		<array>
			<string>2013-6-5-99cats.md</string>
		</array>
		<array>
			<string>2013-6-6-musictagger.md</string>
		</array>
		<array>
			<string>2013-6-7-rails-lite2.md</string>
		</array>
		<array>
			<string>2013-7-1-creating-pp.md</string>
		</array>
		<array>
			<string>2013-7-10-fleshing-out-form.md</string>
		</array>
		<array>
			<string>2013-7-11-integrating-with-craigslist.md</string>
		</array>
		<array>
			<string>2013-7-2-deploying-pp.md</string>
		</array>
		<array>
			<string>2013-7-3-creating-pp.md</string>
		</array>
		<array>
			<string>2013-7-4-more-things.md</string>
		</array>
		<array>
			<string>2013-7-5-tightening-up.md</string>
		</array>
		<array>
			<string>2013-7-8-near-the-end.md</string>
		</array>
	</array>
</dict>
</plist>
